body {
  background: rgb(204,204,204); 
}
th {border: 1px solid;
    size: 30px;
	border-collapse: collapse;}
table{
	border-spacing: 0px;
}
tr{
	border-bottom: none;
}
page {
  background: white;
  display: block;
  padding: 0cm;
  }
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;  
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}